<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Paynetz_Pay>
            <version>2.0.0</version>
        </Paynetz_Pay>
    </modules>
    <global>
        <blocks>
            <paynetz>
                <class>Paynetz_Pay_Block</class>
            </paynetz>
        </blocks>
        <helpers>
            <paynetz>
                <class>Paynetz_Pay_Helper</class>
            </paynetz>
        </helpers>
        <models>
            <paynetz>
                <class>Paynetz_Pay_Model</class>
            </paynetz>
            <paynetz_adminhtml>
                <class>Paynetz_Pay_Adminhtml_Model</class>
            </paynetz_adminhtml>
            <!--            <sales>
                <rewrite>
                    <service_quote>Atom_Paynetz_Model_Service_Quote</service_quote>
                </rewrite>
            </sales>-->
        </models>
        <resources>
            <paynetz_setup>
                <setup>
                    <module>Paynetz_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paynetz_setup>
            <paynetz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paynetz_write>
            <paynetz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paynetz_read>
        </resources>
    </global>
    <default>
        <payment>
            <paynetz>
                <active>1</active>
                <order_status>pending</order_status>
                <model>paynetz/pay</model>
                <title>Atom Paynetz Payment Method</title>
                <sha_type>SHA-512</sha_type>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </paynetz>
        </payment>
    </default>
    <frontend>
        <secure_url>
            <pay>/paynetz</pay>
        </secure_url>
        <routers>
            <paynetz>
                <use>standard</use>
                <args>
                    <module>Paynetz_Pay</module>
                    <frontName>paynetz</frontName>
                </args>
            </paynetz>
        </routers>
        <layout>
            <updates>
                <paynetz>
                    <file>paynetz/paynetz.xml</file>
                </paynetz>
            </updates>
        </layout>
    </frontend>
</config>